*{
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
}

.home{
                    height: 100vh;
                    width: 100%;
                    background:url('./../Images/bg-1.jpg');
                    background-repeat: no-repeat;
                    background-size: cover;
                    /* background-position:bottom.; */
                    background-attachment: fixed; 
}

.home .container{
                    width:500px;
                    display: flex;
                    flex-direction: column;
                    margin-left: 7.5rem;


}

.home .container .home_content{
                    width: 500px;
                    color: white;
                    margin-top: 5rem;
}
.home .container .home_content h2{
                 font-size: 21px;
                                      
}
.home .container .home_content h1{
                    font-size: 40px;
                    line-height: 40px;
                    margin-top: 10px;
                    font-weight: 800;
                               
   }

   .home .container .home_content p{
                    font-size: 20px;
                    line-height: 20px;
                    margin-top: 20px;
   }

   
   .home .container .home_content .buttons{
                    margin-top: 40px;
                    
   }
   .home .container .home_content .buttons .btn1{
                    width: 200px;
                    height: 45px;
                    background-color: #00bdd2;
                    color: white;
                    font-size: 18px;
                    cursor: pointer;
                    border:none;
                    transition: all 0.3s ease-in-out;

   }
   .home .container .home_content .buttons .btn1:hover{
background:transparent;
border: 2px solid white;

   }
   .home .container .home_content .buttons .btn2{
                    width: 150px;
                    height: 45px;
                    background-color: white;
                    color:#00bdd2;
                    font-size: 18px;
                    cursor: pointer;
                    border:none;
                    transition: all 0.3s ease-in-out;
                    margin-left: 10px;
   }
   .home .container .home_content .buttons .btn2:hover{
background:none;
color: white;
border: 2px solid white;

   }


   @media(max-width:620px){
                    .home .container {
                                        margin-left: 4rem;
                    }
                    
   }